{
  "root": true,
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    // "prettier", // 和extends的作用一样
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "prettier/prettier": ["error", {
      "useTabs": false,
      "tabWidth": 2
    }],
    "@typescript-eslint/no-explicit-any": ["off"]
  }
}